.card {
    height: 300px !important;
}

.card img {
    display: block;
    margin: auto;
    /* height: 80%; */
}

.cardContent {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
}


.customCenterContent {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.customCenterContent h2 {
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 60px 10px;
    border: 1px solid white;
}

.upper-div {
    padding: 10px;
    border-bottom: 1px solid;
}

.upper-div span {
    padding-left: 25px;
    font-size: 15px;
}

svg {
    font-size: 22px;
    color: rgb(158, 34, 34);
}

.listing ul {
    text-decoration: unset;
    list-style-type: none;
    padding: 10px;
}

.listing ul li {
    padding: 5px;
    color: #7e7a7a;
    font-size: 14px;
}

.card-content-best-sel {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}
.card-content-best-sel span {
    font-size: 16px;
    font-weight: 600;
}


.card-content-best-sel .best-sel-star-rate small {
    color: black;
    font-weight: 600;
}

.card-content-best-sel .best-sel-star-rate span.star-box {
    align-items: center;
    background: #c23636;
    padding: 2px 5px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}
.card-content-best-sel .best-sel-star-rate span.star-box svg {
    color: white;
    margin: 0 0px 3px 3px;
}