.sub-category-button{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#sub-category-butt{
 background-color:white;
 color: black;
 border: none;
 margin: 10px;
 height: 55px;
 font-weight: bolder;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.flex-11{
  display: flex;
  flex-direction: row;
}
.subcategory{
  width: 11%;
  padding: 1.5rem;
}
.bold{
  font-size: x-large;
  color: black;
}